.Rproj.user
.Rhistory
.RData
.Ruserdata
NSF-Senegal.Rproj
.Renviron
Scripts/R/NSF-Senegal.Rproj

.DS_Store

.Rhistory
.RData
.Rproj.user/
*.Rproj
.Renviron

# R temporary files
*.RDataTmp*
*.RDataTmp
*.RDataTmp1
*.rds

Scripts/**/.DS_Store
Scripts/**/.Rhistory
Scripts/**/.RData*
Scripts/**/.gitignore
Scripts/**/.Rproj
Scripts/**/RDataTmp*
Scripts/**/Rhistory
Scripts/**/RDataTmp1
Scripts/R/github/
Scripts/R/quarto/

docs/.nojekyll

**/.gitignore
